@font-face {
    font-family: 'Raleway';
    src: url(Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

*
{
    font-family: Raleway;
    list-style: none;
    margin-left: 0.5%;
    padding-left: 0;
}

header
{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

h1
{
    font-weight: bolder;
    font-size: 23px;
    margin: 5px 0px 5px 20px;
}

h2
{
    font-weight: bolder;
    margin: 5px 0px 0px 20px;
    font-size: 1em;
    padding-bottom: 0px;
}

ul
{
    display: flex;
    margin-right: 50px;
    padding-top: 10px;
}

li
{
    margin: 50px;
    margin-top: 0px;
}

a
{
    text-decoration: none; 
}

a:hover
{
    color:#0065FC;
    font-weight: bold;
    text-decoration: overline #0065FC;
}

p
{
    margin: 5px 0px 10px 20px;
}

.formulaire
{
    display: flex;
    margin-left: 10px;
}

.formulaireinput
{
    display: flex;
    margin: 0px 0px 0px 0px;
}

.formulaire input
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border: 0px;
    height: 50px;
    font-size: 1.1em;
}

input[type=text]
{
    border-top:solid #f2f2f2;
    border-bottom: solid #f2f2f2;
    padding: 0em;
    margin: 0em;
    font-weight: bolder;
    text-align: center;
}

input[type=submit]
{
    width: 150px;
    height: 54.8px;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.filtrestitre
{
    padding-top: 8px;
    margin-right: 20px;
}

.filtre
{
    display: flex;
    margin: 40px 0px 0px 0px;
    font-weight: bolder;
    font-size: 20px;
}

.filtre img
{
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 30px 30px 30px 30px;
    fill: #0065FC;
}

.filtres1
{
    display: flex;
    border-radius: 30px 30px 30px 30px;
    border: solid #f2f2f2 2px;
    border-left: 0px;
    width: 15vmax;
    margin-left: 25px;
}

.filtres2
{
    margin: 18px 0px 0px 10px;
    font-size: 20px;
}

.map-marker
{
    height: 54.8px;
    width: 50px;
    background-color: #F2F2F2;
    margin: 0px;
    display: flex;
    justify-content: center;
    border-radius: 15px 0px 0px 15px;
}

.info
{
    display: flex;
    margin-left: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.info img
{
    border-radius: 30px 30px 30px 30px;
    border: solid #f2f2f2 1.5px;
    padding: 7px;
    margin-top: 3px;
}

.main 
{
    display: flex;
}

.hebergements
{
    background-color: #f2f2f2;
    border-radius: 15px;
    width: 50%;
    padding-top: 35px;
    padding-left: 20px;
    height: 600px;
}
.hebergements2
{
    display: flex;
    flex-wrap: wrap;
}

.populaires
{
    background-color: #f2f2f2;
    border-radius: 15px;
    height: 600px;
    width: 25%;
    margin-left: 1.5% ;
    padding-top: 35px;
    padding-left: 20px;
}

.hebergement
{
        background-color: white;
        width: 28%;
        height: 215px;
        margin: 15px 20px;
        border-radius: 15px 15px 15px 15px;
}

.hebergement img
{
    width: 250px;
    border-radius: 15px 15px 0px 0px;
    margin: 3px;
}

.hebergement p
{
    
    margin-top: 5px;
    margin-bottom: 0px;
}

.populaires2
{
        background-color: white;
        width: 85%;
        height: 150px;
        margin: 0px 25px 30px 25px;
        border-radius: 15px 15px 15px 15px;
}

.etoile
{
    display: flex;
    margin: 10px 20px ;
    width: 120px;
}

.etoile img
{
    margin: 0px;
    padding: 0px;

}