@font-face {
    font-family: 'Raleway';
    src: url(Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(Raleway/Raleway-VariableFont_wght.ttf);
}

*
{
    font-family: Raleway;
    list-style: none;
    margin-left: 0.5%;
}

header
{
    display: flex;
    justify-content: space-between;
    height: 70px;
}

h1
{
    font-weight: bolder;
}

ul
{
    display: flex;
    margin-right: 50px;
    padding-top: 10px;
}

li
{
    margin: 50px;
    margin-top: 0px;
}

a
{
    text-decoration: none; 
}

a:hover
{
    color:#0065FC;
    font-weight: bold;
    text-decoration: overline #0065FC;
}

table
{
    border-collapse: collapse;
    border-radius: 1em;
}

td
{
    border: solid black;
    height: 50px;
}