
h2
{
    font-size: 1em;
}
.filtrebis
{
    width: 100%;
    flex-wrap: wrap;  
    font-size: 20px;
}
.filtrebis a
{
    margin-bottom: 10px;
}
.hebergements2
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.hebergements2
{
    margin-bottom: 20px;
}
.hebergements3
{
    flex-direction: column;
    width: 40%;
}

.hebergements3 a
{
    width: 100%;
    margin: 0mm;
    margin-bottom: 20px;
}

.hotelchezamina img
{
    object-position: 10% 60% ;
}
.populaires h3
{
    margin: 0px 0px 0px 15px;
}
.populaires2
{
    height: 290px;
    flex-direction: column;
}
.populaires3 
{
    width: 95%;
}
.hotellesoleildumatin img
{
    border-radius: 15px 15px 0px 0px;
    width: 196%;
    height: 175px;
    object-fit: cover;
    object-position: 80% 50% ;
}

.aucoeurdeleau img
{
    border-radius: 15px 15px 0px 0px;
    width: 196%;
    height: 175px;
    object-fit: cover;
    object-position: 80% 50% ;
}
.toutbleuetblanc img
{
    border-radius: 15px 15px 0px 0px;
    width: 196%;
    height: 175px;
    object-fit: cover;
    object-position: 80% 50% ;
}


.afficher
{
    font-size: 1.2em;
}