html
{
    width: 100%;
    font-size: 1.2em;
}

body
{
    width: 100%;
    margin: auto;
    align-items: center;
}
.corps
{
    margin: 0px 0px 0px 0px;
    width: 100%;
}
header img
{
    width:150%;
}

header
{
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

header a
{
    padding: 0px 30px;
}
nav
{
    justify-content: flex-end;
}

h2
{
    font-size: 1.1em;
    text-align: center;
}
h3
{
    font-size: 0.9em;
}
p
{
    font-size: 0.8em;
}
.act
{
    display: none;
}
.heb
{
    display: none;
}

header a
{
    align-self: flex-end;
}

.actheb
{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.act1:hover
{
    color:#0065FC;
    font-weight: bold;
    border-color: #0065FC;
}

.act1 
{
    display: initial;
    width: 50%;
    text-align: center;
    border-bottom: solid 2px #f2f2f2;
    padding-bottom: 20px;
}

.heb1
{
    display: initial;
    width: 50%;
    text-align: center;
    border-bottom: solid 2px #f2f2f2;
    padding-bottom: 20px;
}

.heb1:hover
{
    color:#0065FC;
    font-weight: bold;
    border-color: #0065FC;
}

.recherche
{
    margin: 5%;
}

.rechercher span
{
    display: none;
}

.rechercher i
{
    display: block;
}

.map-marker
{
    min-width: 50px;
}

input[type=text]
{
    font-size: 15px;
}

.filtre
{
    flex-direction: column;
    width: 100%;
    margin: 5%;
}

.filtrebis
{
    width: 95%;
    flex-wrap: wrap;  
    font-size: 20px;
}

.filtres1 p
{
    font-size: 0.9em;
}

.filtrebis
{
    width: 100%;
    flex-wrap: wrap;  
    font-size: 20px;
}
.filtrebis a
{
    margin-bottom: 10px;
}
.info
{
    margin-left: 30px;
}
.info i
{
    padding: 8px 10px 16px 13px;
    margin-right: 5%;
    position: relative;
    top: 5px;
}
.main 
{
    flex-direction: column-reverse;
    margin-bottom: 0%;
   
}

.hebergements
{
    width: 100%;
    background-color: white;
    height: 1820px;
    padding-left: 0px;
}

.hebergements h2
{
    margin-left: 0px;
}
.hebergements3
{
    align-items: center;
    margin: auto;
    
}

.populaires
{
    width: 100%;
    margin: 0%;
    border-radius: 0%;
    padding-bottom: 25px;
    padding-left: 0px;
}

.populaires1
{
    width: 90%;
    margin: auto;
}

.hebergements h1
{
    margin-left: 18px;
}
.hebergements2
{
    margin: 0px;
    width: 100%;
}

.hebergements2 a
{
    width: 90%;
    height: 255px;
    margin-left: 0%;
}

.hebergements3
{
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}
.aubergedelacannebiere img
{
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    width: 98%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.hotelduport img
{   
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    width: 98%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.hotellesmouettes img
{
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    width: 98%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.hoteldelamer img
{
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    width: 98%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.aubergelepanier img
{
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    width: 98%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.hotelchezamina img
{
    height: 170px;
    border-radius: 15px 15px 0px 0px;
    width: 98%;
    object-fit: cover;
    object-position: 80% 50% ;
}
.activités
{
  margin: 5%;
  margin-top: 0%;
  height: 1600px;
}

.activités2
{
    flex-direction: column;
    width: 100%;
}

.activités2 a
{
    width: 100%;
}
.activités3, .activités6, .activités5
{
   height: 215px; 
}
.activités a
{
    width: 100%;
    margin-bottom: 40px ;
}
.activités4
{
    width: 100%;
}
.vieuxport img
{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.fortdepomegues img
{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
    object-position: 80% 50% ;
}


.ilesdufrioul img
{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.pndescalanques img
{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.nddelagarde img
{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
    object-position: 80% 50% ;
}

.parclongchamp img 
{
    height: 150px;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    object-fit: cover;
    object-position: 80% 50% ;
}

footer
{
    width: 100%;
    flex-direction: column;
    height: auto;
    padding: 0%;
}

.footer1
{
    width: 90%;
    margin: auto;
    flex-direction: column;
}
